*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

h1 {
    font-size: 1.88vw;
}

html{
    height: 1750px;
}

li {
    list-style: none;
}

ul#actions
{
    display:none;
    width: 100px;
    font-size: 0.78vw;
}
.actions:hover ul#actions
{
    display: block;
    position: absolute;
    background: #EAEBEC;
    color: black;
    padding: 4px;
    border-radius: 8px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
}

.header-content input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    gap: 4px;
    min-width: 400px;
    left: 460px;
    top: 12px;
    background: #F8F9FC;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    font-size: 0.78vw;
}

.header-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    gap: 4px;

    border: 1px solid #EAECF0;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 0.78vw;
}

.projects-links {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    gap: 4px;
    background: #F8F9FC;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    font-size: 0.78vw;
}

.header-action-group{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.18vw;
    padding-bottom: 0.18vw;
    border-bottom: 1px solid gray;
}

.sidebar {
    height: 1750px;
    width: 14.58vw;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid gray;
}

body {
    margin-left: 14.58vw;
}

.sidebar-block {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-top: 0.5vw;
    padding-bottom: 0.4vw;
}

.sidebar-block span{
    font-size: 0.78vw;
    margin: 0 auto;
}

.sidebar-block div {
    float: right;
    margin: 0 auto;
}

.sidebar-block svg {
    float: right;
    margin: 0 auto;
}

.side-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 11.46vw;
    padding: 2px;
    background: #F8F9FC;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin: 0 auto;
    top: 15px;
}

.side-button {
    box-sizing: border-box;
    width: 3.13vw;
    background: #F8F9FC;
    border: 1px solid #F8F9FC;
    padding-bottom: 0.3vh;
    padding-top: 0.3vh;
    border-radius: 8px;
}

.side-button:hover {
    background: lightgrey;
}

.side-button svg{
    width: 1.04vw;
    height: 1.04vw;
}

.pages {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 0.78vw;
}

.pages-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-left: 10px;
}

.page-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    font-size: 0.83vw;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    background: #F8F9FC;
    border-radius: 6px;
}

.page-structure{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px;
}

.part-of-structure-chosen {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 12.92vw;
    margin: 0 auto;
    background: #F8F9FC;
    border-radius: 6px;
    font-size: 0.83vw;
    justify-content: center;
    padding: 5px;
}

.part-of-structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 8px;
    position: relative;
    width: 12.92vw;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 0.83vw;
    justify-content: center;
}

.container {
    margin-left: 8.85vw;
    margin-right: 8.85vw;
    padding-top: 2.85vh;
}

.content h2{
    margin-top: 0.85vh;
    margin-bottom: 0.85vh;
    font-size: 1.56vw;
}

.content h3{
    margin-top: 0.85vh;
    margin-bottom: 0.85vh;
    font-size: 1.35vw;
}

.content h4{
    margin-top: 0.85vh;
    margin-bottom: 0.85vh;
    font-size: 1.15vw;
}

.content h5{
    margin-top: 0.57vh;
    margin-bottom: 0.57vh;
    font-size: 0.83vw;
}

.content span {
    font-size: 0.94vw;
}

.quote {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;
    background: #FEFADD;
    border-left: 3px solid #344054;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin-bottom: 0.85vh;
    font-size: 0.99vw;
}

.add-pic-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 16px 24px;
    gap: 16px;
    height: 1.14vh;
    background: #F8F9FC;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 0.83vw;
    margin-top: 0.57vh;
}

.add-pic-inline svg{
    width: 1.25vw;
    height: 1.25vw;
}

.add-pic-block {
    display: flex;
    flex-direction: column;
    padding: 20px 32px 24px;
    gap: 1vw;
    position: relative;
    max-width: 800px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin: 0 auto;
}

.add-pic-block-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.94vw;
}

.upload-pic-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px dashed gray;
    border-radius: 8px;
}

.upload-pic-box-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.83vw;
}

.upload-input{
    padding: 12px;
    gap: 8px;
    height: 0.6vw;
    background: #F8F9FC;
    border-radius: 6px;
    border: 0px;
    font-size: 0.83vw;
}

.copy-pic{
    width: 1.56vw;
    height: 1.71vh;
}

.code-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 24px;
    gap: 10px;
    margin-top: 0.57vh;
    isolation: isolate;

    background: #F8F9FC;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.code-block-buttons{
    display: flex;
    margin-right: 0;
    gap: 3px;
}

.btn {
    padding: 8px 16px;
    gap: 8px;
    background: #EAEBEC;
    border-radius: 6px;
    border: 0;
    font-size: 0.83vw;
}

.btn svg{
    height: 1.25vw;
    width: 1.25vw;
}

select {
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#link-hover:hover + #tools, #tools:hover{
    display: flex;
}

#tools {
    display: none;
    position: absolute;
    align-items: center;
    align-content: center;
    background: white;
    width: 7.81vw;
    height: 1.5vw;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    justify-content: space-around;
    margin-left: 25vw;
    margin-top: -0.1vw;
}

.tool-btn {
    border-radius: 6px;
    border: 0;
    height: 1.3vw;
    width: 1.93vw;
    background: #FFFFFF;
    font-size: 0.83vw;
}

.tool-btn svg{
    height: 1.25vw;
    width: 1.25vw;
}

.tool-btn:hover{
    background-color: lightgrey;
}
